---
title: Qaclana
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->

					<article>
						<header>
							<h2>Hello, we are Qaclana</h2>
							<p>We are glad to meet you.</p>
						</header>

						<p>
							Qaclana is an open source project, aimed to creating a modern Web Application Firewall in the open.
							We believe that security is something that should be easy to adopt, be it by big corporations with a
							dedicated security team, be it by one-person web shops.
						</p>

						<p>
							At this stage, there's no company behind Qaclana and it's being financially supported by the project's founder.
						</p>
					</article>

			</div>
		</div>
	</section>
