---
title: Contributing
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->

					<article>
						<header>
							<h2>Contributing</h2>
							<p>How to contribute to Qaclana.</p>
						</header>

						<span class="image featured"><img src="{{ site.baseurl }}/assets/images/banner.png" alt="" /></span>

						<p>
							Qaclana is an inclusive open source project. In general terms, we welcome every one without distinction.
							Just stop by and let's have a <a href="https://chat.qaclana.io/">talk</a>.
						</p>

						<h3>Preparing for your code contribution</h3>
						<p>
							While we appreciate spontaneous code contributions, it's a good practice to talk to us before doing something
							bigger than a few small bug fixes, specially if it's about a new feature. The reason is simple: we'd like
							to show you how we think might be the best approach to tackle the problem. Also, we might already have started
							some coding around a similar feature, or we might have this feature in the roadmap already, with our ideas.
							Combining our ideas with your ideas is certainly the ideal scenario!
						</p>

						<h3>Non-code contribution</h3>
						<p>
							We also welcome non-code contributions, such as design ideas, feature requests, documentation writing/review and
							so on. We are specially thankful for feedback on real usage of Qaclana: if you have an instance running somewhere,
							let us know. We promise not to tell anyone if you don't want us to, but we'd really benefit from having some info
							from you, specially regarding the performance. Contact us on our chat server and we'll follow up with you privately.
						</p>
					</article>

			</div>
		</div>
	</section>
