---
title: Arcana
layout: default
---

<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->

					<article>
						<header>
							<h2>Coming soon!</h2>
							<p>We are still busy producing the first alpha. Come back soon!</p>
						</header>

						<p>
							For now, you can refer to our <a href="https://blog.qaclana.io">blog</a> and <a href="https://gitlab.com/qaclana">GitLab</a> repositories for instructions on getting it up and running.
							Official instructions will be available after the first release.
						</p>
					</article>

			</div>
		</div>
	</section>
