---
title: Qaclana
layout: default
---

<!-- Banner -->
	<section id="banner">
		<header>
			<h2>Qaclana: <em>Web Application Firewall</em></h2>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-paper-plane"></i>
						<h3>Resilient</h3>
						<p>
							The proxy and filters are able to work without a server, based on the last good known information. Once the server is available
							again, the proxies and filters resumes the communication. This means that your site or service is always available and protected, no matter what.
						</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-pencil"></i>
						<h3>Scalable</h3>
						<p>
							Architected in a way that has, from day 1, support for multiple instances of the proxy, filter and server.
							This means that Qaclana can be used in highly available scenarios, able to scale the parts that needs scaling for your specific scenario.
						</p>
					</div>
				</section>
				<section class="4u">
					<div class="box highlight">
						<i class="icon major fa-wrench"></i>
						<h3>Open Source</h3>
						<p>
							Being open source means that anyone can use it for free, anyone can inspect and audit it, and anyone can contribute new features and bug fixes.
							We believe this is the <b>only</b> reasonable way a security product can be trusted.
						</p>
					</div>
				</section>
			</div>
		</div>
	</section>

<!-- Gigantic Heading -->
	<section class="wrapper style2">
		<div class="container">
			<header class="major">
				<h2>Come help us with the v1</h2>
				<p>We are still building our first version of Qaclana. <a href="/contributing.html">Come help us!</a></p>
			</header>
		</div>
	</section>

<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a class="image left"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
						<div class="inner">
							<h3>Flexible</h3>
							<p>
								You choose how to use Qaclana: at or behind your SSL termination point, all-in-one or with each component on its own box,
								on containers or bare metals, ...
							</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a class="image left"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt="" /></a>
						<div class="inner">
							<h3>Protects your backend</h3>
							<p>
								Qaclana compares the source of the request against common attack databases, blocking it before it even reaches your backend. It
								also learns how your website behaves, protecting it from data leaks.
							</p>
						</div>
					</div>
				</section>
			</div>
			<div class="row">
				<section class="6u">
					<div class="box post">
						<a class="image left"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></a>
						<div class="inner">
							<h3>Intuitive dashboard</h3>
							<p>
								Get an insight into what's going on in security terms on your website. Get to know how many attack attempts there are, in real time.
								Enable, disable or switch working modes for your whole farm with a single click.
							</p>
						</div>
					</div>
				</section>
				<section class="6u">
					<div class="box post">
						<a class="image left"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt="" /></a>
						<div class="inner">
							<h3>Fast</h3>
							<p>
								A few milliseconds is all Qaclana needs to decide whether or not to block a request and keep your site or service secure.
								Generally, Qaclana is done in under 50ms.
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	{% include cta.html %}
