@charset 'UTF-8';
@import url('font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');

@import 'vars';
@import 'mixins';

/*
	Arcana by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body,
	#skel-layers-wrapper {
		background: $color-bg url('images/bg01.png');
	}

	body {
		&.is-loading {
			* {
				@include vendor-property('transition', 'none !important');
				@include vendor-property('animation', 'none !important');
			}
		}
	}

	body, input, select, textarea {
		color: $color-fg;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		@include vendor-property('transition', 'color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out');
		color: $color-accent-bg;
		text-decoration: none;
		border-bottom: dotted 1px;

		&:hover {
			color: $color-accent-bg;
			border-bottom-color: transparent;
		}
	}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 1em;

		a {
			color: inherit;
			text-decoration: none;
		}

		em {
			font-style: normal;
			font-weight: 300;
		}
	}

	h2 {
		font-size: 1.75em;
		letter-spacing: -0.025em;
	}

	h3 {
		font-size: 1.2em;
		letter-spacing: -0.025em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px $color-border;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em $color-border;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			color: $color-fg-light;
			font-size: 1.25em;
			position: relative;
			margin-top: -1.25em;
			margin-bottom: 2.25em;
		}

		&.major {
			text-align: center;
			margin: 0 0 2em 0;

			h2 {
				font-size: 2.25em;
			}

			p {
				position: relative;
				border-top: solid 1px $color-border;
				padding: 1em 0 0 0;
				margin: 0;
				top: -1em;
				font-size: 1.5em;
				letter-spacing: -0.025em;
			}
		}
	}

	footer {
		margin: 0 0 3em 0;

		> :last-child {
			margin-bottom: 0;
		}

		&.major {
			padding-top: 3em;
		}
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'border-color 0.2s ease-in-out');
		background: #fff;
		border: solid 1px $color-border;
		border-radius: $size-radius;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;

		&:focus {
			border-color: $color-accent-bg;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	label {
		display: block;
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 0.5em;
	}

	::-webkit-input-placeholder {
		color: $color-fg-light;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: $color-fg-light;
	}

	::-moz-placeholder {
		color: $color-fg-light;
	}

	:-ms-input-placeholder {
		color: $color-fg-light;
	}

	.formerize-placeholder {
		color: $color-fg-light;
	}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
		border-radius: $size-radius;

		img {
			display: block;
			border-radius: $size-radius;
		}

		&.left {
			display: block;
			float: left;
			margin: 0 2em 2em 0;
			position: relative;
			top: 0.25em;

			img {
				display: block;
				width: 100%;
			}
		}

		&.fit {
			display: block;

			img {
				display: block;
				width: 100%;
			}
		}

		&.featured {
			display: block;
			margin: 0 0 2em 0;

			img {
				display: block;
				width: 100%;
			}
		}
	}

/* Icon */

	.icon {
		@include icon;
		position: relative;
		text-decoration: none;

		> .label {
			display: none;
		}

		&.major {
			text-align: center;
			cursor: default;
			background-color: $color-accent-bg;
			@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png")');
			color: $color-accent-fg;
			border-radius: 100%;
			display: inline-block;
			width: 5em;
			height: 5em;
			line-height: 5em;
			box-shadow: 0 0 0 7px white, 0 0 0 8px $color-border;
			margin: 0 0 2em 0;

			&:before {
				font-size: 36px;
			}
		}
	}

/* Lists */

	ol {
		&.default {
			list-style: decimal;
			padding-left: 1.25em;

			li {
				padding-left: 0.25em;
			}
		}
	}

	ul {
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}

		&.links {
			li {
				line-height: 2.5em;
			}
		}

		&.icons {
			cursor: default;

			li {
				display: inline-block;
				line-height: 1em;
				padding-left: 1.5em;

				&:first-child {
					padding-left: 0;
				}

				a, span {
					font-size: 2em;
					border: 0;
				}
			}
		}

		&.actions {
			cursor: default;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				display: inline-block;
				padding: 0 0 0 1.5em;

				&:first-child {
					padding: 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: 1.5em 0 0 0;

					&:first-child {
						padding: 0;
					}
				}
			}
		}

		&.menu {
			li {
				border-left: solid 1px $color-border;
				display: inline-block;
				padding: 0 0 0 1em;
				margin: 0 0 0 1em;

				&:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}

/* Tables */

	table {
		width: 100%;

		&.default {
			width: 100%;

			tbody {
				tr {
					border-bottom: solid 1px $color-border;
				}
			}

			td {
				padding: 0.5em 1em 0.5em 1em;
			}

			th {
				font-weight: 600;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			thead {
				background-color: #555555;
				@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png")');
				color: #fff;
			}

			tfoot {
			}

			tbody {
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		@include vendor-property('appearance', 'none');
		@include vendor-property('transition', 'background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out');
		background-color: $color-accent-bg;
		@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png")');
		border-radius: $size-radius;
		border: 0;
		color: $color-accent-fg;
		cursor: pointer;
		display: inline-block;
		padding: 0 1.5em;
		line-height: 2.75em;
		min-width: 9em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;

		&:hover {
			background-color: lighten($color-accent-bg, 5);
			color: $color-accent-fg !important;
		}

		&:active {
			background-color: darken($color-accent-bg, 5);
			color: $color-accent-fg;
		}

		&.alt {
			background-color: #555555;
			color: #fff;

			&:hover {
				background-color: lighten(#555555, 5);
			}

			&:active {
				background-color: darken(#555555, 5);
			}
		}

		&.icon {
			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}
	}

/* Box */

	.box {
		&.highlight {
			text-align: center;
		}

		&.post {
			position: relative;
			margin: 0 0 2em 0;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.inner {
				margin-left: calc(30% + 2em);

				> :last-child {
					margin-bottom: 0;
				}
			}

			.image {
				width: 30%;
				margin: 0;
			}
		}
	}

/* Header */

	#header {
		text-align: center;
		padding: 3em 0 0 0;
		background-color: #fff;
		background-image:			url('images/bg02.png'),		url('images/bg02.png'),		url('images/bg01.png');
		background-position:		top left,					top left,					top left;
		background-size:			100% 6em,					100% 6em,					auto;
		background-repeat:			no-repeat,					no-repeat,					repeat;

		h1 {
			padding: 0 0 2.75em 0;
			margin: 0;

			a {
				font-size: 1.5em;
				letter-spacing: -0.025em;
				border: 0;
			}
		}
	}

	#nav {
		cursor: default;
		background-color: #333;
		@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png")');
		padding: 0;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 0.75em;
			background-color: $color-accent-bg;
			background-image: url("images/bg01.png");
		}

		> ul {
			margin: 0;

			> li {
				position: relative;
				display: inline-block;
				margin-left: 1em;

				a {
					color: #c0c0c0;
					text-decoration: none;
					border: 0;
					display: block;
					padding: 1.5em 0.5em 1.35em 0.5em;
				}

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					a {
						color: #fff;
					}
				}

				&.current {
					font-weight: 600;

					&:before {
						@include vendor-property('transform', 'rotateZ(45deg)');
						width: 0.75em;
						height: 0.75em;
						content: '';
						display: block;
						position: absolute;
						bottom: -0.5em;
						left: 50%;
						margin-left: -0.375em;
						background-color: $color-accent-bg;
						background-image: url("images/bg01.png");
					}

					a {
						color: #fff;
					}
				}

				&.active {
					a {
						color: #fff;
					}
				}

				> ul {
					display: none;
				}
			}
		}
	}

/* Dropotron */

	.dropotron {
		background-color: #333;
		@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0)), url("images/bg01.png")');
		border-radius: $size-radius;
		color: #fff;
		min-width: 10em;
		padding: 1em 0;
		text-align: center;
		box-shadow: 0 1em 1em 0 rgba(0,0,0,0.5);

		> li {
			line-height: 2em;
			padding: 0 1.1em 0 1em;

			> a {
				color: #c0c0c0;
				text-decoration: none;
				border: 0;
			}

			&.active,
			&:hover {
				> a {
					color: #fff;
				}
			}
		}

		&.level-0 {
			border-radius: 0 0 $size-radius $size-radius;
			font-size: 0.9em;
			padding-top: 0;
			margin-top: -1px;
		}
	}

/* Banner */

	#banner {
		background-image: url('../images/banner.png');
		background-position: center center;
		background-size: cover;
		height: 28em;
		text-align: center;
		position: relative;

		header {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #212121;
			background: rgba(27,27,27,0.75);
			color: #fff;
			padding: 1.5em 0;

			h2 {
				display: inline-block;
				margin: 0;
				font-size: 1.25em;
				vertical-align: middle;

				em {
					opacity: 0.75;
				}

				a {
					border-bottom-color: transparentize(#fff, 0.5);

					&:hover {
						border-bottom-color: transparent;
					}
				}
			}

			.button {
				vertical-align: middle;
				margin-left: 1em;
			}
		}
	}

/* Wrapper */

	.wrapper {
		padding: 5em 0 3em 0;

		&.style1 {
			background: #fff;
		}

		&.style2 {
			background-color:		#fff;
			background-image:		url('images/bg02.png'),			url('images/bg03.png'),			url('images/bg01.png');
			background-position:	top left,						bottom left,					top left;
			background-size:		100% 6em,						100% 6em,						auto;
			background-repeat:		no-repeat,						no-repeat,						repeat;
		}

		&.style3 {
			background-color: $color-accent-bg;
			@include vendor-value('background-image', 'linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png")');
			color: $color-accent-fg;

			.button {
				background: $color-accent-fg;
				color: $color-fg;

				&:hover {
					color: $color-accent-bg !important;
				}
			}
		}
	}

/* CTA */

	#cta {
		text-align: center;
		padding: 3.5em 0;

		header {
			h2 {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
			}

			.button {
				vertical-align: middle;
				margin-left: 1em;
			}
		}
	}

/* Footer */

	#footer {
		padding: 4em 0 8em 0;

		a {
			color: inherit;
			border-bottom-color: transparentize($color-fg, 0.75);

			&:hover {
				color: $color-accent-bg;
				border-bottom-color: transparent;
			}
		}

		.container {
			margin-bottom: 4em;
		}

		.icons {
			text-align: center;
			margin: 0;

			a {
				color: $color-fg-light;

				&:hover {
					color: $color-fg;
				}
			}
		}

		.copyright {
			color: $color-fg-light;
			margin-top: 1.5em;
			text-align: center;
			font-size: 0.9em;
		}
	}
