		<!-- CTA -->
			<section id="cta" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Are you ready to try it out?</h2>
						<a href="getting-started.html" class="button">Get started</a>
					</header>
				</div>
			</section>
