		<!-- Footer -->
			<div id="footer">
				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://twitter.com/qaclana" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://gitlab.com/qaclana" class="icon fa-gitlab"><span class="label">GitLab</span></a></li>
					</ul>

					<div class="security">
						<ul class="menu">
							<li>Do you have a security issue to <a href="/security.html">report</a>?</li>
						</ul>
					</div>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Juraci Paix&atilde;o Kr&ouml;hling. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
						</ul>
					</div>
			</div>
	</body>
</html>
