<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Qaclana</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<!-- Logo -->
					<h1><a href="{{ site.baseurl }}/index.html" id="logo">Qaclana</em></a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							{% assign current = page.url | downcase | split: '/' %}
							<li {% if current[1] == 'index.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
							<li>
								<a href="">Community</a>
								<ul>
									<li><a href="https://gitlab.com/qaclana">Code repository</a></li>
									<li><a href="https://chat.qaclana.io/">Chat</a></li>
									<li><a href="https://tree.taiga.io/project/jpkroehling-qaclana/">Issues</a></li>
									<li><a href="contributing.html">Contributing</a></li>
								</ul>
							</li>
							<li {% if current[1] == 'blog' %}class="current"{% endif %}><a href="https://blog.qaclana.io">Blog</a></li>
							<li {% if current[1] == 'getting-started.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/getting-started.html">Getting started</a></li>
							<li {% if current[1] == 'about.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/about.html">About</a></li>
						</ul>
					</nav>

			</div>
